
{{$tags := split (.Get "tags") ","}}

<div class="cards">

{{range $page := .Site.RegularPages}}
<!--li><a href="{{.Permalink}}">{{.Title}}</a></li-->


	{{ if gt ( len (intersect $page.Params.tags $tags)) 0 }}
	
		    {{ if $page.Params.card.flex }}
		    <div class="card" style="flex: {{ $page.Params.card.flex | default "0 1 auto"}}; ">
		    {{ else if $page.Params.card.icon }}
		    <div class="card" style="flex: 0 0 300px; ">
		    {{ else }}
		    <div class="card">
		    {{ end }}
			<div class="front">
				    {{ if $page.Params.card.icon }}
						<img class="logo" src='{{ $page.Params.card.icon }}'/>
						<span class='title'>{{ $page.Title }}</span>
				    {{ else }}
      				<span class='title big'>{{ $page.Title }}</span>
      				{{ end }}
      				<hr>
      				<p>
      					{{ $page.Description }}
      				</p>
      				<span class='bottom'>
      					Last updated: {{ $page.Lastmod.Format "January 2, 2006" }}
      				</span>
			</div>
			<div class="back">

				<a href="{{ $page.Permalink }}">
					{{ if $page.Description }} 
						{{ $page.Description }}
					{{ else }}
						{{ $page.Title }}
					{{ end }}
				</a>
					
				
				<div class="tags"> Tags: {{ range $page.Params.tags}}{{.}} {{end}} </div>
				<div class='bottom'>
      					By Haderer Nicolas
      			</div>
				
			</div>			
		</div>

	{{ end }}

{{end}}

</div>